* **Pseudonymization: ** Replacing identifying inormation on such a way that the process can be reversed (with extra informaton)
* **Anonymization: ** Replacing identifyibg information woth the *intent* to be fully non-reversible.

### Techniques for anonymization
- **Hashing / Crypto:** Fredrik Johansson -> hd9hd98g70dg0f8g89d7g98df79g
- **Data masking ** fredrik@everyloop.com -> f****@*****.com
- Generalization: Age34 -> Age: 30-40
- **Aggregation:** Group and aggregate
- **Rmoving data ** Remve column(s) from dataset.

# Anonymization with hash
- There are many types of hash functions (algorithms). Example MD5, SHA-128, SHA-256
- Hash functions are usd to map data of arbitrary size to fixed-size values.
- The same input always results in the same output (given it's using the same algorithm)
- Even a small change in the input yields a totally different output string.
- It's not possible to reverse the process (i.e., given the output hash we can not get the orginal string back.

Used to store passwords, or to imprve speed of searches if the data to match is very large, then it's better to search for the short hash string.

In [3]:
import hashlib as hl

# The hashing funcions require text in utf-8 format
text = "top secret information".encode('utf-8') #utf-8 s'is the default encoding
text.hex()

hl.sha256(text).hexdigest()

'd22b947784e2fb59e57d66264dce9bb431373687cc19f6e5d8d53d787331f90a'

In [4]:
# Asmall change in the text will result in a completely different hash
print(hl.sha256("Hello world".encode()).hexdigest())
print(hl.sha256("hello world".encode()).hexdigest())

64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c
b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9

In [5]:
import pandas as pd
employees = pd.read_json('../Data/employees.json')

In [6]:
employees["first_name"] = employees["first_name"].apply(lambda name: hl.sha256(name.encode()).hexdigest())
employees.head()

,first_name,last_name,job_title,salary,department
0,a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe2...,Doe,Sales Director,120000,Sales
1,4f23798d92708359b734a18172c9c864f1d48044a75411...,Smith,HR Coordinator,60000,Human Resources
2,f089eaef57aba315bc0e1455985c0c8e40c247f073ce1f...,Johnson,Software Engineer,110000,IT
3,7e8c729e4e4ecc320cb411c4d1419bf5fbad733212d4e9...,Williams,Marketing Specialist,75000,Sales
4,a6b54c20a7b96eeac1a911e6da3124a560fe6dc042ebf2...,Brown,HR Manager,90000,Human Resources

### Brute force
Checking of the hash to find the name. 
Easier when it comes to names, but passwords are more difficult.

30% of users share the same top 100 passwords, and 10% of users share the same top 1000 passwords.
So when trying that list you get 30% of the passwords.

You can do brute force attacks with a dictionary of common passwords. Or test all possible combinations.
That's when salt comes in. You add a random string to the password before hashing it.
Then it's only possible to brute force one password at a time, not unlock all users with the same password in one go.

In [7]:
name = input("Enter name: ")
name_hash = hl.sha256(name.encode()).hexdigest()
print(name_hash)
employees.query("first_name == @name_hash")

a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe244bf720582e05241da

,first_name,last_name,job_title,salary,department
0,a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe2...,Doe,Sales Director,120000,Sales

Watch ["The Anonymization Problem - Computerphile"](https://www.youtube.com/watch?v=puQvpyf0W-M&t=119s&ab_channel=Computerphile) on Youtube.