## Exercises: Explore the dataset

In [2]:
import pandas as pd
import seaborn as sns

taxis = sns.load_dataset("taxis")

**Explore the "taxis" dataset to answer the following questions:**

**Q1:** How many rows and column are in the dataset?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Rows:</b> 6433
&nbsp;&nbsp;&nbsp;<b>Columns:</b> 14
</details>

In [3]:
taxis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

**Q2:** What datatype is the most common in the set?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;object (6 columns)
</details>

In [4]:
object

object

**Q3:** What is the average number of passengers in a taxi?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;1.54
</details>

In [5]:
taxis.describe()
# 1.54 average number of passengers

,pickup,dropoff,passengers,distance,fare,tip,tolls,total
count,6433,6433,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,2019-03-16 08:31:28.514223616,2019-03-16 08:45:49.491217408,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
min,2019-02-28 23:29:03,2019-02-28 23:32:35,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,2019-03-08 15:50:34,2019-03-08 16:12:51,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,2019-03-15 21:46:58,2019-03-15 22:06:44,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2019-03-23 17:41:38,2019-03-23 17:51:56,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,2019-03-31 23:43:45,2019-04-01 00:13:58,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000
std,NaN,NaN,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570

**Q4:** What is the most common number of passengers in a taxi?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;1
</details>

In [6]:
taxis["passengers"].median()

1.0

**Q5:** What is the most common payment method?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;credit card
</details>

In [7]:
taxis["payment"].value_counts("credit card")

payment
credit card    0.716388
cash           0.283612
Name: proportion, dtype: float64

**Q6:** Which of the categorical features has the most categories?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;dropoff_zone (203 categories)
</details>

In [8]:
# 203? It says 6425
taxis.nunique()

pickup             6414
dropoff            6425
passengers            7
distance           1079
fare                220
tip                 489
tolls                16
total               898
color                 2
payment               2
pickup_zone         194
dropoff_zone        203
pickup_borough        4
dropoff_borough       5
dtype: int64

**Q7:** What percentage of cars in the set are yellow?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;84.7%
</details>

In [9]:
yellow = taxis.query("color == 'yellow'")
print(f"Percentage of yellow cars: {len(yellow)/6433:.1%}")

Percentage of yellow cars: 84.7%

**Q8:** Which dropoff borough is most common? Which one is least common?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Most common:</b> Manhattan (5206)<br>
&nbsp;&nbsp;&nbsp;<b>Least common:</b> Staten Island (2)<br>
</details>

In [20]:
print(f"Most common dropoff borough: {taxis['dropoff_borough'].value_counts().idxmax()}, {taxis['dropoff_borough'].value_counts().iloc[0]}")
print(f"Least common dropoff borough: {taxis['dropoff_borough'].value_counts().idxmin()}, {taxis['dropoff_borough'].value_counts().iloc[len(taxis['dropoff_borough'].value_counts())-1]}")

Most common dropoff borough: Manhattan, 5206
Least common dropoff borough: Staten Island, 2

**Q9:** Which column has the most missing values? How many?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;<i>dropoff_zone</i> and <i>dropoff_borough</i> both have 45 missing values.
</details>

In [22]:
taxis.isna().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

### Memory usage
``` taxis.info(memory_usage="deep") ``` gives you the total memory usage of the dataframe.

``` taxis.memory_usage(deep=True) ``` give you the total memory usage for each column.

**Answer the following questions:**

**Q10:** What is the total memory usage of the dataframe?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;2.9 MB
</details>

In [23]:
taxis.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 2.9 MB

**Q11:** Which column takes up the most memory? How many kilobytes?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;pickup_zone (470 KB)
</details>

In [29]:
memused = taxis.memory_usage(deep=True).sort_values(ascending=False)

print(f"Column '{memused.idxmax()}' uses most memory with {memused.iloc[0]/1024} KB.")

Column 'pickup_zone' uses most memory with 458.734375 KB.

**Q12:** Why does the numeric columns all take up exactly 51464 bytes?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;They all use 64 bit datatypes. 64 bits = 8 bytes. 6433 entries * 8 bytes = 51464 bytes.
</details>

In [30]:
# Because each value is 64 bit, which is 8 byte, and there are 6433 rows, i.e:
print(f"{8 * 6433 = }")

8 * 6433 = 51464

**Q13:** What is the total memory usage after converting all *object* columns to *category*?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;494.0 KB
</details>

In [34]:
object_columns = taxis.select_dtypes(include=['object']).columns
taxis[object_columns] = taxis[object_columns].astype('category')

print(taxis.dtypes)
print()
taxis.info(memory_usage="deep")

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                    category
payment                  category
pickup_zone              category
dropoff_zone             category
pickup_borough           category
dropoff_borough          category
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   category
 9   payment          6389 non-null   category
 10  pickup_zone      6407 non-null   category
 11  dropoff_zone     6388 non-null   category
 12  pickup_borough   6407 non-null   category
 13  dropoff_borough  6388 non-null   category
dtypes: category(6), datetime64[ns](2), float64(5), int64(1)
memory usage: 494.0 KB

**Q14:** ... and after also converting *float64* to *float32*?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;368.4 KB
</details>

In [35]:
float64_columns = taxis.select_dtypes(include=['float64']).columns
taxis[float64_columns] = taxis[float64_columns].astype('float32')

print(taxis.dtypes)
print()
taxis.info(memory_usage="deep")

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float32
fare                      float32
tip                       float32
tolls                     float32
total                     float32
color                    category
payment                  category
pickup_zone              category
dropoff_zone             category
pickup_borough           category
dropoff_borough          category
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float32
 4   fare             6433 non-null   float32
 5   tip              6433 non-null   float32
 6   tolls            6433 non-null   float32
 7   total            6433 non-null   float32
 8   color            6433 non-null   category
 9   payment          6389 non-null   category
 10  pickup_zone      6407 non-null   category
 11  dropoff_zone     6388 non-null   category
 12  pickup_borough   6407 non-null   category
 13  dropoff_borough  6388 non-null   category
dtypes: category(6), datetime64[ns](2), float32(5), int64(1)
memory usage: 368.4 KB

**Q15:** What is the smallest datatype we can convert passengers to? What is the total memory usage after converting passengers to the new type?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;The maximum number of passengers in the dataset are 6,<br> 
&nbsp;&nbsp;&nbsp;and therefore the values easily fit into the <i>int8</i> type (8 bit integer).<br>
<br>
&nbsp;&nbsp;&nbsp;New size: 324.4 KB
</details>

In [37]:
taxis["passengers"].describe()

int64_columns = taxis.select_dtypes(include=['int64']).columns
taxis[int64_columns] = taxis[int64_columns].astype('int8')

print(taxis.dtypes)
print()
taxis.info(memory_usage="deep")

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                   int8
distance                  float32
fare                      float32
tip                       float32
tolls                     float32
total                     float32
color                    category
payment                  category
pickup_zone              category
dropoff_zone             category
pickup_borough           category
dropoff_borough          category
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int8
 3   distance         6433 non-null   float32
 4   fare             6433 non-null   float32
 5   tip              6433 non-null   float32
 6   tolls            6433 non-null   float32
 7   total            6433 non-null   float32
 8   color            6433 non-null   category
 9   payment          6389 non-null   category
 10  pickup_zone      6407 non-null   category
 11  dropoff_zone     6388 non-null   category
 12  pickup_borough   6407 non-null   category
 13  dropoff_borough  6388 non-null   category
dtypes: category(6), datetime64[ns](2), float32(5), int8(1)
memory usage: 324.4 KB

**Q16:** How many percent of the orignal datasize is the new dataset after converting all the types as above?

<details>
<summary>Answer</summary>
<br>
&nbsp;&nbsp;&nbsp;11.0 %
</details>

In [43]:
print(f"Answer: {0.3244 / 2.9 = :.0%}")

Answer: 0.3244 / 2.9 = 11%

### Final note:
Just to be clear, if we want to limit our memory usage by specifying datatypes with a smaller memory footprint, it makes more sense to do so when loading the dataset in to pandas, than changing the type afterwards (as in the example above).

Most common ways to load data into pandas (like pd.from_csv, pd.from_json etc) provides optional parameters for setting the datatype as the files are read into pandas dataframes.

Also, note that this is really only a concern when working with huge sets of data. For smaller datasets, like the one in the example above, it doesn't really matter, and might be only unneccessary work to optimize. The above exercises just serve as examples to better understand data types and their memory footprints.